{% extends "master.html" %} 

{%block content%}
<div class="card container mt-5 p-0">
  <div class="d-flex justify-content-between align-items-center px-3 py-2">
      <h5 class="card-header mb-0">Booked Schedule</h5>
      <a href="/tutor-index" class="btn btn-secondary">Back</a>
  </div>
  <div class="table-responsive text-nowrap w-100">
      <table class="table text-center">
          <thead>
              <tr>
                  <th>Tutor Name</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Action</th>            
              </tr>
          </thead>
          <tbody class="table-border-bottom-0">
              {% for booking in bookings %}
              <tr class="table-default">
                  <td><strong>{{ booking.tutor.FullName }}</strong></td>
                  <td>{{ booking.start_date }}</td>
                  <td>{{ booking.end_date }}</td>
                  <td>
                      <form method="POST" action="{% url 'delete-booking' booking.id %}">
                          {% csrf_token %}
                          <button type="submit" class="btn btn-danger">Cancel</button>
                      </form>
                  </td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>
</div>
{%endblock%}
